<div class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!-- Header -->
    <app-header></app-header>
    <!-- /Header -->

    <main class="px-3">
      <!-- Buscador -->
      <app-search-bar [classBar]="'mx-auto col-5'" [classImg]="'col-12'" [searchField]="''"></app-search-bar>
      <!-- /Buscador -->
    </main>

    <!-- Footer -->
    <footer class="mt-auto">
      <div class="container">
        <h1>¿Estás cansado de que te rastreen en línea?</h1>
        <p>Obtenga una protección de privacidad perfecta en su navegador de forma gratuita:</p>
        <button type="button" class="btn btn-primary">Agregar Ecosearch a Chrome</button>
        <div class="row justify-content-around py-5">
          <div class="col col-3 card mb-2" style="width: 18rem;">
            <img src="../assets/img/laptop.svg" class="card-img-top pt-2" alt="privacidad">
            <div class="card-body">
              <h5 class="card-title">Privacidad para Chrome</h5>
              <p class="card-text">Navega como de costumbre y nosotros nos encargaremos del resto. Empaquetamos nuestro
                motor de búsqueda, bloqueador de rastreadores y aplicador de cifrado en una extensión de Chrome.</p>
            </div>
          </div>
          <div class="col col-3 card mb-2" style="width: 18rem;">
            <img src="../assets/img/search.svg" class="card-img-top pt-2" alt="buscador">
            <div class="card-body">
              <h5 class="card-title">Motor de búsqueda privado</h5>
              <p class="card-text">Busque de forma privada con nuestra aplicación o extensión, agregue una búsqueda web
                privada a su navegador favorito o busque directamente en ecosearch.com.</p>
            </div>
          </div>
          <div class="col col-3 card mb-2" style="width: 18rem;">
            <img src="../assets/img/mobile.svg" class="card-img-top pt-2" alt="movil">
            <div class="card-body">
              <h5 class="card-title">Aplicación del navegador de privacidad</h5>
              <p class="card-text">Nuestro navegador privado para dispositivos móviles viene equipado con nuestro motor
                de
                búsqueda, bloqueador de rastreadores, aplicador de cifrado y más. Disponible en iOS y Android.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-primary">Agregar Ecosearch a Chrome</button>
      </div>
    </footer>
    <!-- /Footer -->
  </div>
</div>
