<div class="d-flex h-100">
  <div class="cover-container d-flex w-100 h-100 p-3 flex-column">

    <!-- Header -->
    <app-header></app-header>
    <!-- /Header -->

    <!-- Buscador -->
    <app-search-bar [classBar]="'col-12 col-md-8 col-lg-4'" [classImg]="'col-12 col-md-4 col-lg-2'"
      [searchField]="searchField"></app-search-bar>
    <!-- /Buscador -->

    <hr />

    <!-- Listado de posts -->
    <div class="row mb-3" *ngIf="wsRequestWasComplete">
      <div *ngIf="searchResultsService.paginator.totalResults > 0; else elseBlock" class="col">
        Cerca de {{ searchResultsService.paginator.totalResults }} resultados
      </div>
      <ng-template #elseBlock>
        <p>
          No se han encontrado resultados para tu búsqueda <strong>({{ searchField }})</strong>
        </p>
        <div>Sugerencias:
          <ul>
            <li>Asegúrate de que todas las palabras estén escritas correctamente</li>
            <li>Prueba diferentes palabras clave</li>
            <li>Prueba palabras clave más generales</li>
            <li>Prueba menos palabras clave</li>
          </ul>
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div *ngFor="let post of searchResultsService.posts; index as i" [ngClass]="{'offset-md-2': i % 2 !== 0}"
        class="col-12 col-md-5 mb-5">
        <app-result [post]="post" [appPaintWord]="searchField"></app-result>
      </div>
    </div>
    <!-- /Listado de posts -->

    <!-- Footer -->
    <footer class="mt-auto">
      <!-- Paginador -->
      <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li *ngIf="searchResultsService.paginator.previousPage !== -1"
              (click)="changeFilters(searchResultsService.paginator.previousPage)" class="page-item cursor-pointer">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li *ngIf="searchResultsService.paginator.previousPage !== -1"
              (click)="changeFilters(searchResultsService.paginator.previousPage)" class="page-item cursor-pointer"><a
                class="page-link">{{
            searchResultsService.paginator.previousPage }}</a></li>
            <li
              *ngIf="searchResultsService.paginator.previousPage !== -1 || searchResultsService.paginator.nextPage !== -1"
              class="page-item"><a class="page-link">{{ searchResultsService.paginator.currentPage }}</a></li>
            <li *ngIf="searchResultsService.paginator.nextPage !== -1"
              (click)="changeFilters(searchResultsService.paginator.nextPage)" class="page-item cursor-pointer"><a
                class="page-link">{{
            searchResultsService.paginator.nextPage }}</a></li>
            <li *ngIf="searchResultsService.paginator.nextPage !== -1"
              (click)="changeFilters(searchResultsService.paginator.nextPage)" class="page-item cursor-pointer">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- /Paginador -->

      <!-- Filtro de cantidad de registros -->
      <div *ngIf="searchResultsService.paginator.previousPage !== -1 || searchResultsService.paginator.nextPage !== -1"
        class="container d-flex justify-content-center">
        <div class="col-2 col-md-1">
          <div class="input-group mb-3">
            <select id="inputState" class="form-control" [(ngModel)]="searchResultsService.paginator.resultsPerPage"
              (change)="changeFilters(searchResultsService.paginator.currentPage)">
              <option [value]="item" *ngFor="let item of [5,10,15,20,25,30]">{{ item }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- /Filtro de cantidad de registros -->
    </footer>
    <!-- /Footer -->
  </div>
</div>
