<header class="mb-auto">
  <div>
    <nav class="nav nav-masthead justify-content-end">
      <div class="dropdown">
        <span type="button" id="dropdown-alerts" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="nav-link dropdown-toggle" href="#"><i class="fas fa-rss"></i></a>
        </span>
        <ul class="dropdown-menu" aria-labelledby="dropdown-alerts">
          <li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
          <li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
          <li><a class="dropdown-item" href="#"><i class="far fa-newspaper"></i> Newsletter</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
