<!-- <div class="col dropdown">
  <span type="button" id="dropdown-alerts" data-bs-toggle="dropdown" aria-expanded="false">
    <a class="nav-link dropdown-toggle" href="#"> <span *ngIf="post.link; else elseBlock">{{ post.link }}</span>
      <ng-template #elseBlock>{{ post.id }}</ng-template> > resultados
    </a>
  </span>
  <ul class="dropdown-menu" aria-labelledby="dropdown-alerts">
    <li><a class="dropdown-item">En caché</a></li>
  </ul>
</div>
<div class="col">
  <img [src]="post.image" class="img-fluid img-thumbnail" alt="imagen">
  <div class="row">
    <div class="col col-6"><i class="far fa-thumbs-up">{{ post.likes }}</i></div>
    <div class="col col-6 justify-content-end">{{ post.publishDate | date:'medium' }}</div>
  </div>
</div>
<div class="col mt-2">
  <p>{{ post.text }}</p>
</div>
<div class="col">
  <div></div>
</div>
<div class="col">
  Tags: <span *ngFor="let tag of post.tags">&nbsp;<a href="">{{ tag }}</a> &nbsp;</span>
</div> -->


<!-- <div class="col dropdown">
  <span type="button" id="dropdown-alerts" data-bs-toggle="dropdown" aria-expanded="false">
    <a class="nav-link dropdown-toggle" href="#"> <span *ngIf="post.link; else elseBlock">{{ post.link }}</span>
      <ng-template #elseBlock>{{ post.id }}</ng-template> > resultados
    </a>
  </span>
  <ul class="dropdown-menu" aria-labelledby="dropdown-alerts">
    <li><a class="dropdown-item">En caché</a></li>
  </ul>
</div> -->
<div class="card">
  <img class="card-img-top" [src]="post.image" alt="Card image cap" style="max-height: 300px;">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col col-8"><i class="far fa-thumbs-up">{{ post.likes }}</i></div>
        <div class="col col-4">{{ post.publishDate | date:'short' }}</div>
      </div>
    </div>
    <p class="card-text">{{ post.text }}</p>
  </div>
</div>
<div class="col">
  Tags: <span *ngFor="let tag of post.tags">&nbsp;<a href="">{{ tag }}</a> &nbsp;</span>
</div>
