<div class="row align-items-center">
  <!-- Logo -->
  <div [ngClass]="classImg">
    <a href="#"><img src="../assets/img/logo.png" class="img-fluid" alt="logo"></a>
  </div>
  <!-- /Logo -->

  <!-- Campo de busqueda -->
  <div [ngClass]="classBar">
    <div class="input-group mb-3">
      <input [(ngModel)]="searchField" type="text" class="form-control" aria-label="buscador"
        placeholder="Buscar en la web..." aria-describedby="basic-addon2" autofocus="autofocus"
        (keydown.enter)="searchResults()" />
      <span class="input-group-text cursor-pointer" id="basic-addon2" (click)="searchResults()"><i
          class="fas fa-search"></i></span>
    </div>
  </div>
  <!-- /Campo de busqueda -->
</div>
