/* You can add global styles to this file, and also import other style files */
html, body
  height: 100%

hr 
  border-top: 1px dotted #000000 !important
  margin-bottom: 5px !important
  margin-top: 5px !important
   
.cursor-pointer
  cursor: pointer